.px-10-py-5{
    padding: 1.875rem 10.4rem !important;
}
.text-muted{
    color: rgb(185, 176, 176) !important;
}
.fs-8{
    font-size: 0.75rem;
}
.py-1{
    padding: 0.188rem 0 !important ;
}
.m-lr-54{
    margin: 0 54px;
}
.pt-8{
    padding-top: 8px; 
}
.pb-25{
    padding-bottom: 26px;
}
.h-40{
    height: 40px;
}
.top--2{
    position: relative; 
    top: -2px;
}
.ms-5{
    margin-left: 2.938rem !important;
}
.w-1012{
    width: 63.25rem !important;
}
.ml-45{
    margin-left: 45px !important;
}

.m-50{
    margin-left: 50px ;
}