/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"); */
@import url("https://cdn.example.com/elucid-circular.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

@font-face {
    font-family: "NotoSans-Regular", sans-serif;
    src: url('//g.lazcdn.com/g/lzd/assets/1.2.13/font/EuclidCircularA-Regular.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: "NotoSans-Regular", sans-serif;
    font-weight: 400;
    src: url('//g.lazcdn.com/g/lzd/assets/1.2.13/font/EuclidCircularA-Regular.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: "NotoSans-Regular", sans-serif;
    font-weight: 500;
    src: url('//g.lazcdn.com/g/lzd/assets/1.2.13/font/EuclidCircularA-Medium.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: "NotoSans-Regular", sans-serif;
    font-weight: 600;
    src: url('//g.lazcdn.com/g/lzd/assets/1.2.13/font/EuclidCircularA-Bold.woff2') format('woff2');
    font-display: fallback;
}

@font-face {
    font-family: "NotoSans-Regular", sans-serif;
    font-weight: 700;
    src: url('//g.lazcdn.com/g/lzd/assets/1.2.13/font/EuclidCircularA-Bold.woff2') format('woff2');
    font-display: fallback;
}


