.new-desktop-footer {
    font-size: 12px;
    font-weight: 200;
    left: 0;
    min-width: 1188px;
    padding: 0;
    position: absolute;
    width: 100%;
}
article, aside, footer, header, nav, section {
    display: block;
}
.footer-first {
    background-color: #f4f4f6;
    color: #fff;
    padding: 20px 0 25px;
}
.lzd-footer-inner {
    margin: 0 auto;
    overflow: hidden;
    width: 1188px;
}
.lzd-footer-width-25 {
    float: left;
    overflow: hidden;
    width: 25%;
}
.footer-first .footer-title {
    color: #0f136d;
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    margin: 0;
}
.footer-first .footer-list {
    margin: 0;
    padding: 0;
}
.footer-first .footer-li {
    font-weight: 200;
    line-height: 17px;
    list-style: none;
}

li, ol, ul {
    box-sizing: border-box;
    list-style: none;
}
.lzd-footer-width-50 {
    float: left;
    overflow: hidden;
    width: 50%;
}
.footer-first .lzd-footer-app-downloads {
    margin-top: 25px;
}
.footer-first .lzd-footer-app-downloads .icon-logo-lazada-footer {
    background-size: cover;
    height: 42px;
    width: 42px;
}
.footer-first .lzd-footer-app-downloads .lzd-app-download-text {
    padding: 0 15px;
}
.pull-left {
    float: left;
}
.footer-first .lzd-footer-app-downloads .icon-appStore-footer {
    height: 42px;
    margin: 1px 0 0 20px;
    width: 126px;
}

.new-desktop-footer a {
    color: #888;
    text-decoration: none;
}
.footer-first .lzd-footer-app-downloads .icon-huawei-footer {
    height: 42px;
    margin: 10px 0 0 20px;
    width: 126px;
}
.footer-first .lzd-footer-app-downloads .icon-android-footer {
    height: 43px;
    margin-left: 10px;
    width: 128px;
}
a img {
    border: none;
}
.footer-second {
    background-color: #fff;
    padding: 20px 0 25px;
}
.lzd-footer-inner {
    margin: 0 auto;
    overflow: hidden;
    width: 1188px;
}
.lzd-footer-width-32 {
    float: left;
    overflow: hidden;
    width: 32%;
}