@import url("../font.css");

.modal-content {
    height: 27.875rem !important;
    width: 27.81rem !important;
    
}

.input{
    border: 2px grey solid !important ;
}

body.modal-open {
    overflow: hidden !important;
}


.nav-link {
    all: unset !important;
    width: 11.5rem !important;
    height: 1.244rem !important;
    font-size: 1rem !important;
    font-family: "NotoSans-Regular", sans-serif;
    font-weight: 500 !important;
    color: #858b9c !important;
}

.navtab {
    margin: 1.625rem 0 0 !important;
    padding: 0 2.25rem !important;

}

.divider {
    height: 1.125rem !important;
    width: 0.063rem !important;
    background-color: #e3e7f1;
}

.nav-link:focus {
    color: #2e3346 !important;
}

.page-footer {
    font-size: 0.875rem !important;
    font-family: "NatoSans-Regular", sans-serif;
    color: #858b9c !important;
    line-height: 1.2 !important;
    margin-top: 2.563rem !important;
}
