@import url("../font.css");

.phoneNumber-input {
    margin-top: 4.5rem;

}

.country-code {
    width: 5.125rem !important;
    margin-right: 0.375rem !important;
}

.codeSender-button {
    margin-top: 3.0625rem !important;
}

.whatsapp-logo {
    top: 26% !important;
    left: 5% !important;
}

.margin {
    margin-bottom: 2rem !important;
}