@import url(../font.css);

.categories {
    font-size: 1.375rem;
    font-family: "NotoSans-Regular", sans-serif;
    font-weight: 400;
    padding: 1.5rem 0 0 !important;
}

.category-item {
    height: 9.2188rem;
    width: 9.2188rem;
    border-bottom: 0.0625rem solid #e6e6e6;
    border-left: 0.0625rem solid #e6e6e6;
}

.category-item:hover {
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
}

.category-item div img {
    margin: 0 2.1094rem 0 !important;
}

#row-2.category-item {
    height: 9.2813rem !important;
    width: 9.2188rem;
    border-left: 0.0625rem solid #e6e6e6;
}

#item-8.category-item {
    width: 10.4375rem !important;
}

.item-name {
    margin: 0.5rem 0.75rem 0 !important;
    font-size: 0.875rem !important;
    font-family: "NotoSans-Regular", sans-serif;
    line-height: 1.125rem;
    text-align: center !important;
}

@media (max-width: 1200px) {
    .bg-white.d-flex {
        flex-wrap: wrap;
    }

    .category-item {
        width: 50% !important;
        flex: 0 0 50% !important;
    }
}