@import url(../font.css);

.flash-sale {
    font-size: 1.375rem !important;
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", sans-serif !important;
    font-weight: 400 !important;
}

.sale-header {
    font-size: 0.875rem;
    font-family: "Noto Sans", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Microsoft YaHei", sans-serif !important;
    font-weight: 700 !important;
    line-height: 2.1875rem !important;
    color: #F57224 !important;
    align-items: center !important;
    display: flex !important;
}

.shop-button {
    border: 1px solid #F57224 !important;
    padding: 0 0.625rem !important;
    margin: 0.8125rem 0.6875rem 0.8125rem 0 !important;
}

.heading-row {
    border-bottom: 1px solid #d5d5d5 !important;
    margin-bottom: 0 0 0.625rem !important;
}